<form class="example-form"> 
    <table class="example-full-width" cellspacing="0"><tr>   
      <td><mat-form-field class="example-full-width">
        <mat-label>Code client :</mat-label>       
        <input matInput [(ngModel)]="parente.pers2"   name="pers2" id="pers2" type="number" disabled  required>
      </mat-form-field></td>    
      
   
</tr>
   <tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>CIN Parente</mat-label>      
      <input matInput [(ngModel)]="parente.code_par"   name="code_par" id="code_par" type="number"  required>
    </mat-form-field></td>  
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>parente</mat-label>
          <mat-select [(ngModel)]="parente.lien_parente" id="lien_parente" name="lien_parente">
            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
          </mat-select>
          
        </mat-form-field>
  </td>
 
   </tr> 

     
   
      
   <div class="row" style="margin-top: 25px;">                
    <div class="col-md-6">
  <button mat-raised-button color="primary" style="margin-left:230%;margin-right:170px;" (click)="OnCreateNAT()">Ajouter</button>
    </div>
    <div class="col-md-6">
  <button mat-raised-button color="warn" style="margin-left:160%;"   (click)="Close()">Fermer </button>
 </div></div>     
  
  </table>
    
  </form>
  
