<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Vos clients physiques</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Nom
                                  </th>
                                  <th>
                                      Prenom
                                  </th>
                                  <th>
                                      N° Carte identite
                                  </th>
                                  <th>
                                      Pays
                                  </th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let personne_physique of personne_physique">
                                    
                                    <td>{{personne_physique.code_clt}}</td>
                                    <td>{{personne_physique.nom}}</td>
                                    <td>{{personne_physique.prenom}}</td>
                                    <td>{{personne_physique.num_CIN}}</td>
                                    <td>{{personne_physique.pays_residence}}</td>
                                    

                                    <td class="text-center"><button class="btn btn-primary btn-xs" (click)="details(personne_physique.code_clt)" ><span class="material-icons">article</span> Details</button></td>
                                    <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deletePP(personne_physique.code_clt)" ><span class="material-icons">delete_outline</span> </button></td>
                                    
                                  </tr>
                            </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>               
      </div>
  </div>
</div>
